<section>
<div class="container">
    <h3 class="subtitle">Password Recovery</h3>
    <div class="form-container">
        <form class="form-group" action="/api/user/recovery-password/{{token}}" method="post">
        <input type="text" value="{{tokenStatus.name}}" hidden/>
        <div class="form-floating">
        <input class="form-control"  id="floatingInput" type="password" placeholder="Escriba una nueva contrase単a" name="password"
        autofocus/>
        <label for="floatingInput">Contrase単a</label>
        </div>
        {{#errBelowInput arrWarnings "password"}}
        {{msg}}
        {{/errBelowInput}}
        <div class="form-floating">
        <input class="form-control" id="floatingPassword" type="password" placeholder="Repita su nueva contrase単a" name="passwordConfirmation"/>
        <label for="floatingPassword">Repita su nueva contrase単a</label>
        </div>
        {{#errBelowInput arrWarnings "passwordConfirmation"}}
        {{msg}}
        {{/errBelowInput}}
       
        <div class="button-container">
        <input class="input-button" type="submit" value="Confirmar">
        </div>
        
        </form>
    </div>
</div>

</section>