<section>
<div class="container">
    <h3 class="subtitle">Password Recovery</h3>
    <div class="form-container">
        <form class="form-group" action="/api/user/recovery-password/{{token}}" method="post">
        <input type="text" value="{{tokenStatus.name}}" hidden/>
        <input class="input-form" type="password" placeholder="Escriba una nueva contraseña" name="password"
        autofocus/>
        {{#errBelowInput arrWarnings "password"}}
        {{msg}}
        {{/errBelowInput}}
        
        <input class="input-form" type="password" placeholder="Repita su nueva contraseña" name="passwordConfirmation"/>
        {{#errBelowInput arrWarnings "passwordConfirmation"}}
        {{msg}}
        {{/errBelowInput}}
       
        <div class="button-container">
        <input class="input-button" type="submit" value="Confirmar">
        </div>
        
        </form>
    </div>
</div>

</section>