<div>
<form action="/loginForm" method="POST">
<label for="email">
    <input type="text" name="email" placeholder="Email" id="">
</label>
<label for="password">
    <input type="text" name="password" placeholder="Password">
</label>

</form>
</div>