<h3>Hola esta es la vista del usuario de la API</h3>
<p>Qué voy a poner aquí? no tengo la mas remota idea pero debería haber un link a un formulario para agregar otro usuario y otro para agregar personajes</p>